<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./JS/vue.js"></script>
</head>
<body>
    年龄<input type="text" v-model="age">经判定为：
    <span v-if="age <=35">年轻人</span>
    <span v-else-if="age > 35">中年人</span>
    <span v-else>老年人</span>
    <br><br>
    年龄<input type="text" v-model="age">经判定为：
    <span v-show="age <=35">年轻人</span>
    <span v-show="age > 35">中年人</span>
    <span v-show>老年人</span>
    <br><br>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            age:20
        },
        methods: {
            
        }
    })
</script>
</html>